<%- include('header') -%>
<div class="center">
  <h1><%= title %></h1>
  <form id="composeForm" method="post">
    <input type="text" name="title" id="" placeholder="title" />
    <input type="hidden" name="editorContent" id="editorContent" />
    <div id="" class="editor" rows="4"></div>
    <button type="submit" name="">Publish</button>
  </form>
</div>
<%- include('footer') -%>
