<div class="head">
  <div class="nav-div">
    <img src="/assets/house.png" alt="" width="50" height="50" />
    <h2>HomesteadInsights</h2>
  </div>
  <nav>
    <a href="/">Home</a>
    <!-- <a href="/about">About us</a>
        <a href="/contactMe">Contact us</a> -->
  </nav>
</div>
